extends layout

block content
	.container
		h1 About Me
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam laboriosam quaerat et pariatur, sint nihil numquam voluptates beatae, totam deserunt consectetur. Excepturi quia quidem quibusdam! Consequatur alias aspernatur saepe, facilis modi! Dolores facilis corporis neque voluptates error sequi enim voluptatum ducimus quia, tenetur tempore dignissimos quae quidem, minima quam praesentium nobis aliquid? Laborum aut itaque, aperiam eum repellendus totam voluptatum iure dicta accusantium voluptatibus. Hic quidem amet, cum maiores aliquam vitae, ratione minus omnis impedit numquam molestias possimus maxime, consequatur fuga, quam dolorum deserunt excepturi! Consequatur distinctio saepe cumque mollitia necessitatibus.
		ul
			li Lorem ipsum dolor.
			li Lorem ipsum dolor.
			li Lorem ipsum dolor.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam earum maxime laudantium officia deserunt unde nam illum provident blanditiis ratione ex, accusamus vitae voluptates debitis velit, veniam nostrum possimus est.