extends layout

block content
	.container
		form.col-sm-8.col-sm-offset-2(action='contact/send', method='post')
			h1 Contact
			.form-group
				label Name
				input.form-control(type='text', name='name', placeholder='Your name here')
			.form-group
				label Email
				input.form-control(type='email', name='email', placeholder='Your email here')
			.form-group
				label Message
				textarea.form-control(name='message', placeholder='Your message here', rows='8')
			button.btn.btn-primary(type='submit') Submit
			