extends layout

block content
    .jumbotron
        .container
            h1 How may I help you?
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error architecto magni tempore fugiat deleniti ab eligendi provident id ut voluptatibus dolorum consequuntur, perspiciatis quod illo officia officiis consequatur laborum reiciendis!
            a.btn.btn-primary.btn-lg(href="#") Learn More!
    .container
        .row
            .col-md-4
                h2 About Us
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem quasi, dolorem culpa pariatur. Non atque laborum sequi iste ab.
                a.btn.btn-default(href="@") View Details
            .col-md-4
                h2 Services
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem quasi, dolorem culpa pariatur. Non atque laborum sequi iste ab.
                a.btn.btn-default(href="@") View Details
            .col-md-4
                h2 Support
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem quasi, dolorem culpa pariatur. Non atque laborum sequi iste ab.
                a.btn.btn-default(href="@") View Details